@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@700&display=swap');

:root{
    --main-head-color: #ffffff;
    --text-main-color: #000000;

}

*{
    color:var(--text-main-color);
}



.dark-theme{
    --main-head-color: #000000;
    background:black;
    --text-main-color: #ffffff;

}


<<<<<<< Updated upstream
.huvud{
    background-color: var(--main-head-color);
    width: 100%;
    max-height: 100px;
    position: relative;
}

/*=========== MENU BUTTON ==========*/
.menu-btn{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.menu-btn-burger{
    width: 30px;
    height: 5px;
    border-radius: 12px;
    background: var(--text-main-color);
    transition: all .1s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    background: var(--text-main-color);
    border-radius: 5px;
    transition: all .2s ease-in-out;

}

.menu-btn-burger::before{
    transform: translateY(-8px);
}

.menu-btn-burger::after{
    transform: translateY(8px);
}

.menu-btn.open .menu-btn-burger{
    transform: translateY(-4px);
    background:transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn-burger::before{
    transform: rotate(45deg);
}

.menu-btn.open .menu-btn-burger::after{
    transform: rotate(-45deg);
}
    
/*===================================================*/


nav{
    display: flex;
    align-items: center;
    max-height: 75px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}



button{
    background-color: rgb(39, 49, 39);
    height: 30px;
    width: 50px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

button span{
    display: block;
    background: #999;
    height: 26px;
    width: 25px;
    border-radius: 50%;
    margin-left: 2px;
}

.active{
    background-color: #2b9348;
}

.active span{
    background: #fff;
    margin-left: 15px;
}

/*---------NAVIGATION----------*/


.navigation-list{
    border-radius: 8px;
    align-items: center;
}
=======
>>>>>>> Stashed changes

#map {
    width: 60%;
    position: relative;
    height:75vh;
    margin: 1%;
    float: left;
}

.main-container{
    width: 100%;
<<<<<<< Updated upstream
    max-height: 80px;
    margin: 0 auto;
}


.title-text{
    font-family: 'Khand', sans-serif;
    font-size: 50px;
}

.title-container{
    margin-left: 200px;
}

.link{
cursor:pointer;
}

.dropdown {
    position: relative;
}

.dropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: #ffffff;
    padding:.75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150s ease-in-out;
}

.dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    transform:translateY(0);
    pointer-events: auto;
    width: 400px;
}

/* ---------------DATUM OCH KLOCKA-----------*/
.datum-container{
    font-family: 'Roboto Serif', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 20px;
}

.datum{
font-size: 14px;
text-align: center;
color: #000000;
}

.tid{
    font-size: 30px;
    text-align: center;
    color: #000000;
}

.tid span:not(:last-child){
    position: relative;
    text-align: left;

}
/*-------------MAIN CONTAINER------------*/

.main-container {
display: flex;
flex-wrap: nowrap;
background-color: #000000;
height: 700px;
padding: 0 1%;
margin: 0px auto 0;
}

.main-container > div{
    width: 30%;
    margin: 10px;
}

#map{
    width: 70%;
}

.live-feed{
    background-color: #ffc300;
=======
    margin: 5px 0;
    background-color: black;
    display:flex;
}

.live-feed{
    float: right;
    position: relative;
    width: 37%;
    background-color: white;
    overflow-y: scroll;  
    overflow-x: hidden;
    border-left: 5px solid #e5e5e5;
    max-width: 350px;
>>>>>>> Stashed changes

}


<<<<<<< Updated upstream
.contact{
    background-color: #fca311;
    height: 200px;
}
=======

.head-news{
    margin: 10px;
}

.head-news h1{
font-size: 25px;
text-transform: uppercase;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.headline{
    font-size:18px;
  }
  
  .article-date{
    margin-bottom: 4px;
  }
  
  .divider{
    border-bottom: 1px solid #c7c7c7;
  }
  
  .live-feed-container{
    display:block;	
    background-color: white;
    width:400px;
    height: 600px;
    overflow-y: scroll;
  }
  
  .tab-news{
      width: 100%;
      height:100px;
      background-color:grey;
      border-bottom: 2px solid #e5e5e5;
  }
  
  .card-event{
      display:grid;
      grid-template-columns: 100px auto;
      grid-template-rows:40px auto;
      grid-template-areas:
          "left right-up"
          "left right-down";
      background-color:white;
      height:200px;
      border-bottom: 2px solid #e5e5e5;	
      padding:10px;
      cursor: pointer;
  }
  
  .left-part{
      background-color:red;
      grid-area: left;
  }
  
  .icon-holder{
    text-align: center;
    background-color:green;
    height:50%;
  }
  
  .icon{
    height: 70%;
    width: 70%;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
  }
  
  .mid-upper-part{
  grid-area: right-up;
      background-color: blue;
  }
  
  .mid-lower-part{
      grid-area: right-down;
      background-color: purple;
      
  }

  /*-------------RESPONSIVE LAYOUT ------*/

  @media (min-width:500px){
    #map{
      width: 100%;
      order:1;
      -webkit-order:1;
      
    }
    .live-feed{
      width:30%;
      order:2;
      -webkit-order:2;
    }
  }
  @media (min-width:800px){
    #map{
      width:100%;
    }
    .live-feed{
      width:50%;
    }
  }
>>>>>>> Stashed changes
